/*#region FONT SIZES*/

$fontSize-h1: 3rem;
$fontSize-p: 1rem;

/*#endregion*/
/*#region FONT FAMILY*/

$font-poppins: "Poppins", sans-serif;
$font-ptserif: "PT Serif", serif;

/*#endregion*/

/*#region COLORS*/

$color-white: #ffffff;

/*#endregion*/
